{% extends "layout.html" %}
{% block title %}Attractions | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h2>Welcome, {{session.name}}.</h2>
		<p class="text-align">
			Planning your next trip? Look no further!
		</p>
		<h4 class="center-align">Attractions</h4>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Description</th>
					<th>Nearest Public Transport</th>
					<th>Add to My Trip</th>
					<th>View Reviews</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.name }}</td>
					<td>{{ item.address }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.nearest_transport }}</td>
					<td><a class="waves-effect waves-light btn" href="/add-to-trip/{{ loop.index }}">Add</a></td>
					<td><a class="waves-effect waves-light btn" href="/view-reviews/{{ loop.index }}">Reviews</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
