{% extends "layout.html" %}
{% block title %}Home | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<p class="text-align">
		{% if not trip_booked_message %}
			<h2>Welcome, {{ session.name }}.</h2>
			Click on one of the links at the top to get started!
			<br /><br /><br />
		{% endif %}
		</p>
		{% if session.is_admin == 1 %}
		<h4>Admin Panel</h4>
		<h3 class="center-align">Manage Users</h3>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Is Admin</th>
					<th>Username</th>
					<th>Password</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>E-Mail</th>
					<th>Suspended</th>
					<th>Delete User</th>
					<th>Suspend User</th>
					<th>Make Admin</th>
				</tr>
			</thead>
			<tbody>
				{% for item in users %}
				<tr>
					<td>{{ item.is_admin }}</td>
					<td>{{ item.username }}</td>
					<td>{{ item.password }}</td>
					<td>{{ item.first_name }}</td>
					<td>{{ item.last_name }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.suspended }}</td>
					<td><a class="waves-effect waves-light btn" href="/delete-user/{{ item.username }}">Delete</a></td>
					<td><a class="waves-effect waves-light btn" href="/suspend-user/{{ item.username }}">{% if item.suspended=='Yes' %}Unsuspend{% else %}Suspend{% endif %}</a></td>
					<td><a class="waves-effect waves-light btn" href="/make-admin/{{ item.username }}">Make-Admin</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3 class="center-align">Manage Attractions</h3><br />
		<div class="center-align"><a class="waves-effect waves-light btn" href="/add-attraction">Add a new Attraction</a></div><br />
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Hours</th>
					<th>Name</th>
					<th>Description</th>
					<th>Address</th>
					<th>Nearest Public Transport</th>
					<th>Time Slots</th>
					<th>Update Attraction</th>
					<th>Delete Attraction</th>
				</tr>
			</thead>
			<tbody>
				{% for item in attractions %}
				<tr>
					<td>
						  <ul class="collapsible" data-collapsible="expandable">
						    <li>
						      <div class="collapsible-header">Hours</div>
						      <div class="collapsible-body">
						<table>
							<thead>
								<tr>
									<th>Day</th>
									<th>Start Time</th>
									<th>End Time</th>
								</tr>
							</thead>
							<tbody>
							{% for hour in item.hours %}
							<tr>
								<td>{{ hour.day }}</td>
								<td>{{ hour.hour_start_time }}</td>
								<td>{{ hour.hour_end_time }}</td>
							</tr>
							{% endfor %}
							</tbody>
						</table>
						</div>
						    </li>
						</ul>
					</td>
					<td>{{ item.name }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.address }}</td>
					<td>{{ item.nearest_transport }}</td>
					<td>
						{% if item.timeslots %}
						  <ul class="collapsible" data-collapsible="expandable">
						    <li>
						      <div class="collapsible-header">Timeslots</div>
						      <div class="collapsible-body">
							<table>
								<thead>
									<tr>
									<th>ID</th>
									<th># Spots</th>
									<th>Start Time</th>
									<th>End Time</th>
									</tr>
								</thead>
								<tbody>
							{% for timeslot in item.timeslots %}
								<tr>
									<td>{{ timeslot.id }}</td>
									<td>{{ timeslot.num_remaining }}</td>
									<td>{{ timeslot.start_time }}</td>
									<td>{{ timeslot.end_time }}</td>
								</tr>
							{% endfor %}
								</tbody>
							</table>
								</div>
						    </li>
						</ul>
						{% endif %}
					</td>
					<td><a class="waves-effect waves-light btn" href="/update-attraction/{{ loop.index }}">Update</a></td>
					<td><a class="waves-effect waves-light btn" href="/delete-attraction/{{ loop.index }}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if trip_booked_message %}
		<h4 style="color:green">{{ trip_booked_message }}</h4>
		{% endif %}
		{% if no_trip or no_trip_error %}
			<hr />
		{% endif %}
			{% if no_trip_error %}
			<h4 style="color:red">{{ no_trip_error }}</h4>
			{% endif %}
			{% if no_trip %}
			<h4>{{ no_trip }}</h4>
			{% endif %}
		{% if no_trip or no_trip_error %}
            <form method="post" name="new-trip" action="/new-trip">
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                        	<p>Start Date</p>
                            <input name="start_date" placeholder='YYYY-MM-DD' type="text" class="validate">
                        </div>
                        <div class="input-field">
                        	<p>End Date</p>
                            <input name="end_date" placeholder='YYYY-MM-DD' type="text" class="validate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
		{% endif %}
	</div>
</div>
{% endblock %}
