{% extends "layout.html" %}
{% block title %}Home | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h2>Welcome, {{session.name}}.</h2>
		{% if session.is_admin == 0 %}
		<p class="text-align">
			Click on one of the links at the top to get started!
		</p>
		{% else %}
		<h4 class="center-align">Admin Panel</h4>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Is Admin</th>
					<th>Username</th>
					<th>Password</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>E-Mail</th>
					<th>Suspended</th>
					<th>Delete User</th>
					<th>Suspend User</th>
					<th>Make Admin</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.is_admin }}</td>
					<td>{{ item.username }}</td>
					<td>{{ item.password }}</td>
					<td>{{ item.first_name }}</td>
					<td>{{ item.last_name }}</td>
					<td>{{ item.email }}</td>
					<td>{{ item.suspended }}</td>
					<td><a class="waves-effect waves-light btn" href="delete-user/{{ item.username }}">Delete</a></td>
					<td><a class="waves-effect waves-light btn" href="suspend-user/{{ item.username }}">Suspend</a></td>
					<td><a class="waves-effect waves-light btn" href="make-admin/{{ item.username }}">Make-Admin</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
