<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Travel Planner">
        <meta name="author" content="Siddarth Senthilkumar">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <title>Travel Planner</title>
    </head>

    <body>
        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="static/images/barcabeach.jpg">
                    <div class="caption center-align">
                        <h1>Travel Planner</h1>
                        <h5>Welcome to your one stop shop for all things traveling.</h5>
                        <a class="waves-effect waves-light btn" href="/login-page">Login/Register</a>
                    </div>
                </li>
                <li>
                    <img src="static/images/barcabunkers.jpg">
                    <div class="caption left-align">
                        <h3>Simple.</h3>
                        <h5>Easy to use interface so you can spend more time on the important stuff.</h5>
                        <a class="waves-effect waves-light btn" href="/login-page">Login/Register</a>
                    </div>
                </li>
                <li>
                    <img src="static/images/mountain.jpg">
                    <div class="caption right-align">
                        <h3>Explore.</h3>
                        <h5 class="light grey-text text-lighten-3">Enjoy thrilling adventures throughout Europe.</h5>
                        <a class="waves-effect waves-light btn" href="/login-page">Login/Register</a>
                    </div>
                </li>
                <li>
                    <img src="static/images/waterside.jpg">
                    <div class="caption center-align">
                        <h3>Relaxing</h3>
                        <h5 class="light grey-text text-lighten-3">There's a little something for everyone.</h5>
                        <a class="waves-effect waves-light btn" href="/login-page">Login/Register</a>
                    </div>
                </li>
            </ul>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
    </body>
</html>