<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="Travel Planner">
    <meta name="author" content="Siddarth Senthilkumar">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
      <title>Login/Register</title>
  </head>


  <body class="blue-grey darken-3 white-text">
    <div class="container">
        <div class="row">
            <div class="col m6">
                <br /><br /><br /><br />
                <img class="fullscreen responsive-img" src="static/images/login.jpg">
                <h5 class="center-align">You don't want to miss this</h5>
            </div>
            <div class="col m6">
                <br /><br /><br />
                <h3>Login</h3>
                <form method="post" action="/login">
                    <div class="row">
                            <div class="col s6">
                                <div class="input-field">
                                    <input name="login_username" type="text" class="validate">
                                    <label for="login_username">Username</label>
                                </div>
                                <div class="input-field">
                                    <input name="login_password" type="password" class="validate">
                                    <label for="login_password">Password</label>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
		{% if error %}
			<p class=error style="color:red"> {{ error }} </p>
		{% endif %}
            </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><hr />
        <div class="row">
            <h3>Register</h3>
            <p>Don't have an account? No sweat.</p>
            {% if error2 %}
                <p class=error style="color:red"> {{ error2 }} </p>
            {% endif %}
            <form class="col s12" method="post" action="/register">
                <div class="row">
                    <h5>General Information</h5>
                    <div class="row">
                        <div class="input-field col s4">
                            <input placeholder="Username" name="register_username" type="text" class="validate">
                            <label for="register_username">Username</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Password" name="register_password" type="password" class="validate">
                            <label for="register_password">Password</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Re-Enter Password" name="register_password2" type="password" class="validate">
                            <label for="register_password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="First Name" name="register_firstname" type="text" class="validate">
                            <label for="register_firstname">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Last Name" name="register_lastname" type="text" class="validate">
                            <label for="register_lastname">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Email Address" name="register_email" type="text" class="validate">
                            <label for="register_email">Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Address Information</h5>
                        <div class="input-field col s6">
                            <input placeholder="Street Address" name="register_streetaddress" type="text" class="validate">
                            <label for="register_streetaddress">Street Address</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="City" name="register_city" type="text" class="validate">
                            <label for="register_city">City</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="State" name="register_state" type="text" class="validate">
                            <label for="register_state">State</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Country" name="register_country" type="text" class="validate">
                            <label for="register_country">Country</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Zip" name="register_zip" type="text" class="validate">
                            <label for="register_zip">Zip Code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            {% if scroll %}
                <div id="register">
                    <script> document.getElementById('{{ scroll }}').scrollIntoView(); </script>
                </div>
            {% endif %}
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/init.js"></script>
  </body>
</html>
