{% extends "layout.html" %}
{% block title %}My Trip | {{session.username}}{% endblock %}

{% block content %}

<div class="row">
	<div class="col s12">
		<h2>Welcome, {{session.name}}.</h2>
		<p class="text-align">
			Here is your current itinerary.
		</p>
		<h4 class="center-align">Itinerary</h4>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Description</th>
					<th>Hours of Operation</th>
					<th>Nearest Public Transport</th>
					<th>Time</th>
					<th>Price</th>
					<th>Remove from My Trip</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.name }}</td>
					<td>{{ item.address }}</td>
					<td>{{ item.description }}</td>
					<td>{{ item.hours }}</td>
					<td>{{ item.nearest_transport }}</td>
					<td>{{ item.time_slots }}</td>
					<td>{{ item.price }}</td>
					<td><a class="waves-effect waves-light btn" href="remove-from-trip/{{ item.name }}">Remove</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr/>
		<h5>Total Cost:</h5>
		<p style="color: green">${{ total_cost }}</p>
		<a class="waves-effect waves-light btn" href="/complete">Pay / Complete Reservations</a>
	</div>
</div>
{% endblock %}
